@{
    ViewBag.Title = "_Footer";
}
<div class="container-footer">
    <footer class="container-fluid text-center foot">
        <div class="row">
            <div class="col-3 col-md-2">

            </div>
            <div class="col-6 col-md-8">
                <img class="footimg" src="~/Content/images/logo g2 w-02.png" alt="Logo">
            </div>
            <div class="col-3 col-md-2">
                <p class="white-txt small">
                    2020 Coding Bootcamp 9
                </p>
            </div>
        </div>
        
</footer>
</div>

