<footer class="page-footer font-small cyan darken-3 text-white" style="        background-color: hsl(225, 40%, 18%);">

    <!-- Footer Elements -->
    <div class="container" style="background-color: hsl(225, 40%, 18%);">

        <!-- Grid row-->
        <div class="row ml-5 pl-5">

            <!-- Grid column -->
            <div class="col-md-3 py-5 ">
                <!-- Facebook -->

                <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </div>
            <div class="col-md-3 py-5 ">
                <!-- Twitter -->

                <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </div>
            <div class="col-md-3 py-5 ">
                <!--Instagram-->

                <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </div>
            <div class="col-md-3 py-5 ">
                <!--Discord-->

                <a class="dis-ic">
                    <i class="fab fa-discord fa-2x"></i>
                </a>
            </div>
        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-5 mr-5 pr-5">
        <a href="https://mdbootstrap.com/"> © 2020 Copyright: GG Incorporated</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
