
@{
    ViewBag.Title = "_LoginSearchPartial";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div id="searchBarWrap" class="center">
        <form>
            <input id="searchBar" type="text" name="searchbar" placeholder="Search & Explore..." />
            <button type="submit" class="btn btn-default btn-circle">
                <span class="glyphicon glyphicon-search white" aria-hidden="true"></span>
            </button>
        </form>

    </div>
}