@{
    ViewBag.Title = "_Footer";
}

<footer style="max-height:100px" class="bg-dark text-center mt-auto">
    <div class="container p-2">
        <div class="row">
            <div class="col-3 col-md-2">

            </div>
            <div class="col-6 col-md-8">
                <img class="footing" src="~/Static/Images/Footer/logo g2 w-02.png" alt="Logo">
            </div>
            <div class="col-3 col-md-2">
                <p class="white-txt small">
                    2020 Coding Bootcamp 9
                </p>
            </div>
        </div>
    </div>
</footer>
