<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    @Html.ActionLink("GAMERS' GRID", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @*<a class="navbar-brand" href="#">Navbar w/ text</a>*@
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto ml-5">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Gamers">Players <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Game" asp-action="Index">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="LeaderBoards">Leaderboards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="SearchEngine">SearchEngine</a>
            </li>
        </ul>
        <partial name="_LoginPartial" />
    </div>
</nav>



