@model GamersGridApp.Core.ViewModels.SearchEngineViewModel
@{
    ViewBag.Title = "SeachEngine";
}
@Styles.Render("~/Content/SearchEngine")

<div class="container">
    <div class="row">
        <div class="col-sm-12 pen">
            <div class="page-header">
                <h1>Search Engine</h1>
                <p class="lead">Search players from your favorite games.</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            @*dota*@
            <div class="card card-default">
                <div class="card-header"> </div>

                <div class="card-body">
                    <input type="text" class="form-control" placeholder="Type ID of Player" id="dota-id" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary dota-search" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">

            @*lol*@
            <div class="card card-default">
                <div class="card-header"> </div>

                <div class="card-body">
                    @*<input type="text" class="form-control" placeholder="Type Region of Player" id="league-region" />*@
                    @Html.DropDownListFor(m => m.RiotGamesRegions, new SelectList(Model.RiotGamesRegions), "Select Region of Player", new { @class = "form-control ", id = "league-region" })
                    <input type="text" class="form-control" placeholder="Type ID of Player" id="league-name" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary league-btn" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">

            @*overwatch*@
            <div class="card card-default">
                <div class="card-header"> </div>

                <div class="card-body">
                    @Html.DropDownListFor(m => m.BattleNetRegions, new SelectList(Model.BattleNetRegions), "Select Region of Player", new { @class = "form-control ", id = "battlenet-region" })

                    <input type="text" class="form-control" placeholder="Type ID of Player" id="overwatch-id" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary overwatch-search" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">

            <h4>Dota 2</h4>
            <div class="card card-default">
                <div class="card-header" id="dota-name-output"></div>
                <div class="card-body card-6-6">
                    <div class="card-left">
                        <img src="https://emblemsbf.com/img/115.webp" class="img-responsive">

                    </div>
                    <div class="card-right">
                        <img src="" id="dota-rank-icon" class="img-responsive">
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        Match-making Rating:<span id="dota-rank"> </span><br />
                        <br />KDA: <span id="dota-KDA"></span>
                        <br />Wins: <span id="dota-wins"></span>
                        <br />Losses: <span id="dota-losses"></span>
                    </p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-sm-4">

            <h4>League Of Legends</h4>
            <div class="card card-default">
                <div class="card-header" id="league-name-output"></div>
                <div class="card-body card-6-6">
                    <div class="card-left">

                        <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple123/v4/4f/ed/7f/4fed7f64-e3ec-abe2-d090-82ac70096c97/Prod_AppIcon-0-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-7.png/320x0w.jpg" class="img-responsive">
                    </div>
                    <div class="card-right">
                        <img src="" id="league-rank-icon" class="img-responsive">
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        Match-making Rating:<span id="league-rank"> </span><br />
                        <br />Level: <span id="league-level"></span>
                        <br />Wins: <span id="league-wins"></span>
                        <br />Losses: <span id="league-losses"><span>
                    </p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-sm-4">

            <h4>Overwatch</h4>
            <div class="card card-default">
                <div id="owHeader" class="card-header"></div>
                <div class="card-body card-6-6">
                    <div class="card-left">
                        <img src="https://pbs.twimg.com/profile_images/774244317418299392/BCchF00k_400x400.jpg" class="img-responsive">

                        @*<img src="~/Content/Images/Games/OverwatchIcons/Competitive_Grandmaster_Icon.png" class="img-responsive">*@
                    </div>
                    <div class="card-right">
                        <img id="overwatchRankIcon" src="" class="img-responsive">

                    </div>
                </div>
                <div class="card-body">
                    <p>
                        Match-making Rating:<span id="overwatch-rank"> </span><br />
                        <br />Average Kills: <span id="overwatch-Kills"></span>
                        <br />Average Deaths: <span id="overwatch-Deaths"></span>
                        <br />KDA: <span id="overwatch-KDA"></span>
                    </p>
                </div>
                <div class="card-footer"></div>
            </div>

        </div>
    </div>


    @*<div class="row">
            <div class="col-sm-4">

                <h4>5:7 column layout</h4>
                <div class="card card-default">
                    <div class="card-header">Header</div>
                    <div class="card-body card-5-7">
                        <div class="card-left">
                            <img src="https://fillmurray.com/g/320/320" class="img-responsive">
                        </div>
                        <div class="card-right">
                            <h4>Heading</h4>
                            <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
                        </div>
                    </div>
                    <div class="card-footer">Footer</div>
                </div>

            </div>
            <div class="col-sm-4">

                <h4>Card with Image heading</h4>
                <div class="card card-default">
                    <div class="card-header">Image card</div>
                    <div class="card-img">
                        <img src="https://fillmurray.com/g/640/320" class="img-responsive">
                    </div>
                    <div class="card-body">
                        <h4>Heading One Two Three</h4>
                        <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
                        <p><a href="#">More...</a></p>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">

                <h4>Linked Image Card</h4>
                <div class="card card-default">
                    <a href="#" class="card-link">
                        <span class="card-img">
                            <img src="https://fillmurray.com/g/640/320" class="img-responsive">
                        </span>
                        <span class="card-body">
                            <span class="h3 heading">Heading</span>
                            <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
                        </span>
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">

                <h4>Price Card</h4>
                <div class="card card-price">
                    <div class="card-img">
                        <a href="#">
                            <img src="http://placeimg.com/640/320/nature/grayscale" class="img-responsive">
                            <div class="card-caption">
                                <span class="h2">Big Item</span>
                                <p>100% silk</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="price">$20 <small>each</small></div>
                        <div class="lead">Wrap yourself in luxury</div>
                        <ul class="details">
                            <li>A stitch in time saves nine.</li>
                            <li>All good things come to those who wait.</li>
                            <li><b>Shipping:</b> $10 in USA, $15 outside USA</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-lg btn-block buy-now">
                            Buy now <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

                <h4>Price Card with table of items</h4>
                <div class="card card-price">
                    <div class="card-img">
                        <a href="#">
                            <img src="http://placeimg.com/640/320/nature/grayscale" class="img-responsive">
                            <div class="card-caption">
                                <span class="h2">Many Items</span>
                                <p>Gluten free</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="lead">So many choices.</div>
                        <ul class="details">
                            <li>A stitch in time saves nine.</li>
                            <li>All good things come to those who wait.</li>
                            <li>There's a pony in that pile.</li>
                        </ul>
                        <table class="table">
                            <tr><th></th><th>Price</th><th>Shipping</th></tr>
                            <tr><td>Small</td><td class="price">$20</td><td class="note">$3 ground service</td></tr>
                            <tr><td>Medium</td><td class="price">$30</td><td class="note">$6 ground service</td></tr>
                            <tr><td>Large</td><td class="price">$45</td><td class="note">$7 ground service</td></tr>
                        </table>
                        <a href="#" class="btn btn-primary btn-lg btn-block buy-now">
                            Buy now <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>*@


    <!-- /container -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/searchEngine");
    <script>
        $(document).ready(function () {
            LeagueController.init();
            DotaController.init();
            OverwatchSearchController.init();
        })
    </script>
}
