@model GamersGridApp.Core.ViewModels.AddDotaAccountViewModel
@{
    ViewBag.Title = "DotaAccount";
}
@Styles.Render("~/Content/toastr.css")

<h2 style="margin-top: 80px;">DotaAccount</h2>
<p>
    Please provide your 32-bit Account id <br />
    You can convert your steam id on the following <a href="http://whatsmysteamid.azurewebsites.net/">link</a>

</p>
<div class="form-group">
    <h6>Steam account 32-bit id</h6>
    <input id="accountid" type="text" name="accountid" value="" />


</div>


<div class="form-group">
    <button id="save" class="btn btn-primary"> Save</button>
</div>


@section scripts {

    <script>
        $(document).ready(function () {

            $("#save").on("click", function () {
                let accountid = $("#accountid").val();
                $.ajax({
                    url: "/api/DotaAccounts?accountid=" + accountid,
                    method: "post"
                }).done(function () {
                    toastr.success("Account saved");
                }).fail(function (e) {
                    toastr.error(e.message);
                });
            });

            //$("#get").on("click", function () {
            //    let accountid = $("#accountid").val();
            //    $.ajax({
            //        url: "/api/DotaAccounts?accountid=" + accountid,
            //        method: "get"
            //    }).done(function (data) {
            //        toastr.success("Account found for " + data.profile.personaname);
            //    }).fail(function () {
            //        toastr.error("Account was either empty or not found");
            //    });
            //});

        });
    </script>


}