
@{
    ViewBag.Title = "Leaderboards";
}
@Styles.Render("~/Content/LeaderBoard")

<section class="section how-it-works" id="how-it-works">
    <div class="container">
        <div class="row text-center">
           
        </div>
        <div class="row">
            <div class="col-md-12 board">
                <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                <div class="board-inner">
                    <ul class=" center-il nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li class="active">
                            <a href="#lol" aria-controls="lol" role="tab" data-toggle="tab" title="LOL">
                                <span class="round-tabs one">
                                  
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#dota" aria-controls="dota" role="tab" data-toggle="tab" title="Dota 2">
                                <span class="round-tabs two">
                                 
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#overwatch" aria-controls="overwatch" role="tab" data-toggle="tab" title="Overwatch">
                                <span class="round-tabs three">
                                </span>
                            </a>
                        </li>



                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="lol">

                        <h3 class="head text-center">LoL</h3>
                        <p class="narrow text-center">
                            Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                        </p>

                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> Get Quote <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="dota">
                        <h3 class="head text-center">Dota 2</h3>
                        <p class="narrow text-center">
                            Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                        </p>

                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> Get Quote <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>

                    </div>
                    <div class="tab-pane fade" id="overwatch">
                        <h3 class="head text-center">Overwatch</h3>
                        <p class="narrow text-center">
                            Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                        </p>

                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> Get Quote <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                   
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</section>