@Styles.Render("~/Content/style.css")
@Styles.Render("~/Content/SiteCss")
@model GamersGridApp.ViewModels.UserProfilePageViewModel
@{
    ViewBag.Title = "ProfilePage";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid rounded profilePhoto" src="~/Content/Images/gamer.jfif" alt="">
        </div>
        <div class="col-md-6 topSection">
            <br>
            <h6>Name: <strong>@Html.DisplayFor(u => u.User.NickName)</strong></h6>
            <h6>NickName: <strong>@Html.DisplayFor(u => u.User.NickName)</strong></h6>
            <h6>Current Focusing games:<strong> League of Legends | Dota 2</strong></h6>
            <div>
                <h2>
                    Message of the day: "Woohoo"
                </h2>
            </div>

        </div>
        <div class="col-md-3">
            <a class="btn btn-primary aButton hidden" href="#" role="button">Follow</a>
            <a class="btn btn-primary aButton" href="#" role="button">Message</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Biography</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore qui vitae adipisci, ducimus
                voluptate eum quae aut enim maxime dolorem voluptatem soluta aperiam accusamus quam at nemo
                exercitationem architecto tenetur!
            </p>
        </div>
        <div class="col-sm-6">
            <div class="grid">
                <div class="">
                    <p>Followers <br> 156</p>
                    <img class="img-fluid rounded socialIcon" src="~/Content/Images/facebook.svg" alt=""
                         srcset="">

                </div>
                <div class="">
                    <p>Following <br>354</p>
                    <img class="img-fluid rounded socialIcon" src="~/Content/Images/Instagram.svg" alt=""
                         srcset="">

                </div>
                <div class="">
                    <p>Clans <br> 2</p>
                    <img class="img-fluid rounded socialIcon" src="~/Content/Images/twitter.svg" alt=""
                         srcset="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"></div>
<div class="row">
    <div class="col-md-6 center-item">

        <h3>Dota 2</h3>
        <div class="grid">
            <div class="">
                <p>Wins <br> 1562</p>
                <p>Role <br> Support</p>
            </div>
            <div class="">
                <p>KDA <br> 3.21</p>
                <p>Top 5 Heroes <br> Morgana <br> Karma <br> Thresh</p>
            </div>
            <div class="">
                <p>Rank <br> Diamond IV</p>
                <p>Time Played <br> 153h</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 center-item">

        <h3>League of Legends</h3>
        <div class="grid">
            <div class="">
                <p>Wins <br> 1562</p>
                <p>Role <br> Support</p>
            </div>
            <div class="">
                <p>KDA <br> 3.21</p>
                <p>Top 5 Heroes <br> Morgana <br> Karma <br> Thresh</p>
            </div>
            <div class="">
                <p>Rank <br> Diamond IV</p>
                <p>Time Played <br> 153h</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h3>My Setup</h3>
</div>
<div class="row">

    <div class="row grid">

        <div class="col-md-4 ">
            <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/setup.jpg" alt="" srcset="">
        </div>
        <div class="col-md-4">
            <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/setup.jpg" alt="" srcset="">
        </div>
        <div class="col-md-4">
            <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/keyboard.jpg" alt="" srcset="">
        </div>

    </div>

</div>
<div class="row">
    <h3>Videos</h3>
</div>
<div class="row">

    <div class="row grid">
        <div class="col-md-4 ">
            <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/setup.jpg" alt="" srcset="">
        </div>
        <div class="col-md-4">
            <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/setup.jpg" alt="" srcset="">
        </div>
        <div class="col-md-4">
            <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/keyboard.jpg" alt="" srcset="">
        </div>
    </div>

</div>

