body {
    font-family: 'Sen', sans-serif;
}
.rela-block {
    display: block;
    position: relative;
    margin: auto;
    top:;
    left:;
    right:;
    bottom:;
}

.rela-inline {
    display: inline-block;
    position: relative;
    margin: auto;
    top:;
    left:;
    right:;
    bottom:;
}


.floated {
    display: inline-block;
    position: relative;
    margin: false;
    top:;
    left:;
    right:;
    bottom:;
    float: left;
}

    .floated.right {
        float: right;
    }

    .floated a{
        color: #fff;
    }

    .floated a:hover {
        color:  #7d6ab7;
    }


.profile-card {
    width: calc(100% - 40px);
    padding-top: 100px;
    margin: 130px auto 30px;
    background-color: #303030;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);

}

.profile-pic {
    display: false;
    position: absolute;
    margin: false;
    top: -90px;
    left: 50%;
    right: false;
    bottom: false;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 180px;
    width: 180px;
    border: 10px solid #fff;
    border-radius: 100%;
    background-position: center !important;
    background-size: cover;
}

.profile-name-container {
    margin: 0 auto 10px;
    padding: 10px;
    text-align: center;
}

.user-num-num {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 12px;
    color: white;
}

.user-num {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 25px;
    color: white;
}

.up {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 25px;
    color: white;
}
.user-name {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 12px;
    color: white;
}

.user-desc {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    color: #dcdcdc;
    text-align:justify;
    text-align-last: center;
}

.profile-card-stats {
    height: 75px;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
}

.profile-stat {
    height: 100%;
    width: 33.3333%;
}

    .profile-stat:after {
        color: #999;
    }

.works::after {
    content: "works";
}

.followers::after {
    content: "followers";
}

.following::after {
    content: "following";
}

.image {
    width: 240px;
    height: 200px;
    cursor: pointer;
    margin: 0 20px 40px;
    overflow: hidden;
    /*border-radius: 5px;*/
    /*border: 10px solid #fff;*/
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
    background-color: rgb(199, 199, 199);
    background-size: cover !important;
    -webkit-transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
    transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
}

    .image:hover {
        -webkit-transform: scale(1.06);
        transform: scale(1.06);
        box-shadow: 0 2px 18px -2px rgba(0,0,0,0.3);
    }

    .image.hidden {
        height: 0;
        width: 0px;
        margin: 0px;
        border: 0px solid #fff;
    }

.button {
    font-family: 'Montserrat';
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 900;
    line-height: 20px;
    min-width: 200px;
    padding: 20px 40px;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #bbb;
    margin: 0 20px;
}

    .button:hover {
        color: #2ebaae;
        border: 1px solid #2ebaae;
    }

    .button.inactive {
        color: #bbb;
        cursor: default;
    }

        .button.inactive:hover {
            color: #bbb;
            border: 1px solid #bbb;
        }

.footer {
    min-height: 240px;
    border-top: 1px solid #d6d6d6;
    background-color: #fff;
    padding: 30px 40px;
    text-align: center;
    overflow: hidden;
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 843px;
    }

    .overlay-card {
        max-width: 803px;
        padding: 0;
    }

    .overlay-image {
        height: 68%;
        width: 100%;
    }

    .overlay-desc {
        width: 100%;
        height: 32%;
        margin: 0;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 562px;
    }

    .overlay-card {
        max-width: 522px;
        min-width: 310px;
    }

    .overlay-image {
        width: 100%;
        height: 55%;
        max-height: 1000px;
        margin: 0;
    }

    .post-image {
        width: 396px;
        height: 330px;
        border: 0px solid #fff;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        background-size: contain !important;
    }

    .overlay-desc {
        width: 100%;
        height: 45%;
        padding: 20px;
    }

    .nav-links {
        width: 0px;
    }

    .menu-background {
        left: 8%;
    }

    .menu-card {
        left: 2px;
        height: 360px;
    }

    .menu-content .sub-nav-links {
        height: 164px;
        border-bottom: 1px solid #ccc;
    }
}

@media screen and (max-width: 630px) {
    .image {
        width: calc(100% - 40px);
        height: 0px;
        padding-bottom: 60%;
    }

    .menu-content .sign-links {
        height: 64px;
        border-top: 1px solid #ccc;
    }

    .menu-card {
        height: 425px;
    }

    .sign-div {
        width: 0px;
    }

    .nav-search.active {
        -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1);
        transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1);
    }
}

@media screen and (max-width: 550px) {
    .overlay-card {
        height: 500px;
    }

    .post-image {
        width: 80%;
        max-width: 288px;
        height: 240px;
    }

    .overlay-desc {
        padding: 14px;
    }

    .profile-card-stats {
        height: 0;
        padding: 0px;
    }

    .profile-pic {
        height: 140px;
        width: 140px;
        top: -70px;
    }

    .profile-card {
        padding-top: 70px;
        margin: 50px auto 30px;
    }
}
