body {
    margin-top: 50px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left:0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .notifications {
    position: relative;
}

    .navbar-inverse .notifications .badge {
        position: absolute;
        top: 8px;
        right: -1px;
        background: #a80a0a;
    }