body {
    font: 'Sigmar One', sans-serif;
    color: rgba(242, 189, 255, 0.5);
    /* text-align: center; */
    /* text-transform: uppercase; */
    letter-spacing: .1em;
    /*top: 15%;*/
    background: linear-gradient(to right, rgb(49, 49, 49), rgb(87, 104, 134));
    margin: 0px;
    padding: 0px;
    height: 100%;
    /* background-image: url("imgs/GGlogo.jpg"); */
}


/* Set padding to keep content from hitting the edges */
.body-content {
    min-height: 100%;
    margin-top: 100px;
    padding: 20px;
}
    #GGFooter
{
    position: page;
    padding: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.row {
    margin-top: 10px;
}

.dark {
    background-color: black;
}

.grid {
    display: inline-grid;
    justify-content: space-around;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
}

.center-item {
    text-align: center;
}

.aButton {
    margin-top: 20px;
    align-self: center;
}
.profilePhoto {
    max-width: 150px;
    max-height: 150px;
}

.socialIcon {
    max-width: 50px;
    max-height: 50px;
}

.galleryPhotos {
    max-width: 250px;
    max-height: 200px;
}




