
@{
    ViewBag.Title = "GameProfile";
}

<h2>ProfileIndex</h2>

<div class="row">
    <div class="col-md-2">
        <img src="imgs/LOLclassic.jpg" class="img-fluid rounder float-left" alt="">
    </div>
    <div class="col-md-8">
        <h1>League Of Legends</h1>
        <br>
        <h6>The Game:</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid praesentium magnam dolor, facere
            possimus ipsa assumenda est cum inventore deserunt quae animi accusantium minima consectetur nulla
            repellendus necessitatibus doloremque eum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            At consequuntur aliquam inventore minima est ab dolor quia ullam vitae deleniti culpa itaque, soluta
            atque dicta. Sed unde ut odio adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Soluta, reiciendis eveniet tempora hic laborum explicabo quasi tenetur. Odio, aliquam? Ea maxime
            totam, consequuntur praesentium ipsum illum nisi velit eum vero. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Consequatur molestiae in laudantium culpa tempore esse tempora illum
            ratione, omnis, maiores laborum libero, voluptatibus quaerat amet illo error ullam magni
            exercitationem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, sunt a.
            Architecto voluptatem quam, quo necessitatibus nulla non a est inventore deleniti itaque? Veniam id
            facilis sequi quibusdam, deserunt doloremque?
        </p>
    </div>
    <div class="col-md-2">
        <h4>Social</h4>
        <img src="imgs/LOLclassic.jpg" class="img-fluid " alt="">
        <img src="imgs/LOLclassic.jpg" class="img-fluid " alt="">
        <h4>Links</h4>
        <ul class="list-group">
            <li class="list-group-item">official</li>
            <li class="list-group-item">fb</li>
            <li class="list-group-item">youtube</li>
            <li class="list-group-item">twitch</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

    </div>

    <div class="col-md-6">

    </div>
</div>