@model IEnumerable<GamersGridApp.Core.Models.Game>


@{
    ViewBag.Title = "Games";
}




    <div class="container-thubnails-char-games">
        <div class="center-header ">
            <h1> THE GAMES </h1>
        </div>


        <div class="row ">

            @foreach (var game in Model)
            {
                string imagePath;
                if (game.ID == 1)
                {
                    imagePath = "~/Content/Images/Games/lol1.jpg";
                }
                else if (game.ID == 2)
                {
                    imagePath = "~/Content/Images/Games/dota1.jpg";

                }
                else
                {
                    imagePath = "~/Content/Images/Games/overwatch1.jpg";

                }

                <div class="col-6 col-md-4">
                    <div class="thumbnail thubnail-game">
                        <h3>@game.Title</h3>
                        <a href="@Url.Action("GameProfile", "Game",new { gameName = @game.Title })"><img src=@Url.Content(imagePath) alt="gamer" class="gameimg"></a>
                        <div class="caption-games">
                            <h4>@game.Type</h4>
                            @*<p><a href="#" class="btn btn-primary" role="button">See</a></p>*@
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>